[submodule "idtrackerai-validator-client"]
	path = idtrackerai-validator-client
	url = https://github.com/shaliulab/idtrackerai-validator-client
[submodule "flyhostel"]
	path = flyhostel
	url = https://github.com/shaliulab/flyhostel
